<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Definitely not a Bank</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/business-casual.min.css" rel="stylesheet">
    
    <!-- My own css (kheehing) -->
    <link href="../stylesheets/bank.css" rel="stylesheet">
    <style>
      table.blueTable {
  font-family: Tahoma, Geneva, sans-serif;
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 6px 0px;
}
table.blueTable tbody td {
  font-size: 14px;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 1px solid #444444;
}
table.blueTable thead th {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 1px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 1px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
    </style>
  </head>

  <body>
    <div class="container">
        <h3>Welcome to KHEE-BANK</h3>
        <p id="test"></p>
            <!-- login toggle-modal-->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#login_modal">Add User</button>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#view_modal">View User</button>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#confirm_modal">History</button>
    
        <!-- login Modal -->
        <div class="modal fade" id="login_modal" role="dialog">
          <div class="modal-dialog">
            <!-- login Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <h4 id="gai" class="modal-title">Add User</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <form action="/bank" method="POST">
                <div class="modal-body">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="InputFirstName"> First Name</label>
                      <input id="InputFirstName" name="InputFirstName" class="form-control" type="text" placeholder="First Name" pattern="^([A-Za-z ])\w+$" title="No special characters or numbers" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="InputLastName">LastName</label>
                      <input id="InputLastName" name="InputLastName" class="form-control" type="text" placeholder="Last Name" pattern="^([A-Za-z ])\w+$" title="No special characters or numbers" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="AccountNumber"> Account Number</label>
                      <input id="AccountNumber" name="AccountNumber" class="form-control" type="text" placeholder="Account Number" pattern="^\d+$" title="Numbers Only" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="AvailableBalance">available Balance</label>
                      <input id="AvailableBalance" name="AvailableBalance" class="form-control" type="text" placeholder="available Balance" pattern="^\d+$" title="Numbers Only" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="CreditcardNumber">Creditcard Number</label>
                      <input id="CreditcardNumber" name="CreditcardNumber" class="form-control" type="text" placeholder="Creditcard Number" pattern="^3[47][0-9]{13}$|^5[1-5][0-9]{14}$|^4[0-9]{12}(?:[0-9]{3})?$|^65[4-9][0-9]{13}|64[4-9][0-9]{13}|6011[0-9]{12}|(622(?:12[6-9]|1[3-9][0-9]|[2-8][0-9][0-9]|9[01][0-9]|92[0-5])[0-9]{10})$" title="Invalid CreditCard Number, Make sure there are no spaces inbetween numbers" required>
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col">
                        <label for="CreditcardNumber">Credit / Debit</label>
                        <select id="CreditDebit" name="CreditDebit" class="form-control" required>
                          <option>Credit</option>
                          <option>Debit</option>
                        </select>
                      </div>
                    </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="ExpireMonth">Month</label>
                      <input id="ExpireMonth" name="ExpireMonth" class="form-control" type="number" pattern="^[1-9]$|^[1][0-2]$" title="Number Range from 1-12" required>
                    </div>
                    <div class="form-group col">
                        <label for="ExpireYear">Year</label>
                        <input id="ExpireYear" name="ExpireYear" class="form-control" type="number" pattern="^[2][0][0-9][0-9]$" title="Invalid year" required>
                      </div>
                  </div>
                  <label for="CreditCardSC">Security Code</label>
                  <input id="CreditCardSC" name="CreditCardSC" class="form-control" type="text" placeholder="Security Code"  pattern="^[0-9]{4}|[0-9]{3}$" title="3 or 4 digit" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" placeholder="Submit">
                </div>
              </form>
            </div>
          </div>
        </div><!-- end login Modal -->

        <!-- View login -->
        <div class="modal fade" id="view_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Users</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body">

                    <% for (var key in test) { %>
                      <% if (test.hasOwnProperty(key)) { %>
                        <div class="card w-100">
                          <div class="card-body">
                            <div class="row">
                              <h5 class="card-title col-md-3"><%= test[key].FirstName; %>&nbsp;<%= test[key].LastName; %></h5>
                              <p class="card-text col-md-3">Account:&nbsp;<%= test[key].AccountNumber; %></p>
                              <p class="card-text col-md-3">Balance:&nbsp;<%= parseFloat(test[key].AvailableBalance).toFixed(2); %></p>
                              <% if (test[key].CreditDebit != "") { %>
                                <p class="card-text col-md-3">Type:&nbsp;<%= test[key].CreditDebit; %>Card</p>
                                <% } if (test[key].CreditDebit == "") { %>
                                  <p class="card-text col"></p>
                            <% } %>
                            </div>
                            <div class="row">
                              <% if (test[key].CreditcardNumber != "") { %>
                                <p class="card-text col-md-6">Creditcard Number:&nbsp;<%= test[key].CreditcardNumber; %></p>
                              <% } if (test[key].ExpireMonth != "" && test[key].ExpireYear != "") { %>
                                <P class="card-text col-md-3">ExpiryDate:&nbsp;<%= test[key].ExpireMonth; %>/<%= test[key].ExpireYear; %></P>
                              <% } if (test[key].CreditCardSC != "") { %>  
                                <P class="card-text col-md-3">CVC:&nbsp;<%= test[key].CreditCardSC; %></P>
                              <% } %>
                            </div>
                            <p>
                              <% if (test[key].transaction){ %>
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#th<%= key %>" aria-expanded="false" aria-controls="collapseExample">Transaction History</button>
                              <% } %>
                              </p>
                              <div class="collapse" id="th<%= key %>">
                                <div class="card card-body">
                                  <table class="blueTable">
                                    <thead>
                                      <tr>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Amount</th>
                                      </tr>
                                    </thead>
                                      <tbody>
                                        <% for(var tkey in test[key].transaction){ %>
                                          <tr><td><%= test[key].transaction[tkey].from %></td>
                                              <td><%= test[key].transaction[tkey].to %></td>
                                              <td><%= parseFloat(test[key].transaction[tkey].amount).toFixed(2) %></td></tr>
                                        <% } %>
                                      </tbody>
                                    </table><br>
                                  </div><br>
                              </div>
                          </div>
                        </div><br>
                      <% } %>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end view login -->

          <!-- Confirm Payment -->
          <div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <table class="blueTable">
                        <thead>
                          <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                          <% for(var key in history){ %>
                                <td><%= history[key].from %></td>
                                <td><%= history[key].to %></td>
                                <td><%= history[key].amount %></td>
                              </tr>
                              <% } %>
                        </tbody>
                      </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            
        

    </div><!-- end container -->
    <!-- ajax -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <!-- firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
    <!-- my own js -->
    <script>
    // firebase
    var config = {
        apiKey: "AIzaSyBcI54P-yTiaNAXEDASZGH3eJNkcbXY7wE",
        authDomain: "ooadp-2018-sem1-e409b.firebaseapp.com",
        databaseURL: "https://ooadp-2018-sem1-e409b.firebaseio.com",
        projectId: "ooadp-2018-sem1-e409b",
        storageBucket: "ooadp-2018-sem1-e409b.appspot.com",
        messagingSenderId: "1025088843498"
      };
    firebase.initializeApp(config);
    //======================
    var database = firebase.database.ref();
    var users =  tatabase().child("users");
    var x;
    var keylist=[];
    users.on("value", function(snapshot) {
        x = snapshot.val();
        for (var key in x){
            keylist.push(key);
            // console.log(keylist);
        }
    });
        
    function deleted(button_id){
      var key = button_id.slice(6);
      database.child('/confirm/'+key).remove();
      location.reload();
    }

    </script>
    <!-- BootStrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>

  <footer></footer>
    
</html>
