<!DOCTYPE html>
<html lang="en">

  <head>

        <% include ../partials/head %>

        
    <style>

        body{
            background-color: burlywood;
        }
    </style>

  </head>
<body>
    <% include ../partials/header %>
        <h1 class="site-heading text-center text-white d-none d-lg-block">
      <br>
                <span class="site-heading-lower">Edit</span>
              </h1>
            


<body>
    <div class="container">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Book Details</h4>
    </div>

    <form method="post" enctype="multipart/form-data">
    
    <div class="modal-body">
        <fieldset class="form-group">
            <label for="inputStudentID">BookName</label><br>
            <input type="text" id="title" name="title" class="form-control" placeholder="Student Id" required="true" value="<%= images.title %>">
        </fieldset>
        <fieldset class="form-group">
            <label for="inputName">Price</label><br>
            <input type="text" id="price" name="price" class="form-control" placeholder="Student Name" required="true" value="<%= images.price1 %>">
        </fieldset>
        <fieldset class="form-group">
            <label for="inputGroup">Condition</label><br>
            <input type="text" id="condition" name="condition" class="form-control" placeholder="Group" required="true" value="<%= images.condition1 %>">
        </fieldset>
        <fieldset class="form-group">
            <label for="inputHobby">Description</label><br>
            <textarea id="description" name="description" class="form-control" placeholder="Hobby" required="true" value="<%= images.description1 %>"><%= images.description1 %></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="inputHobby">MeetUp</label><br>
            <input type="text" id="meetup" name="meetup" class="form-control" placeholder="Hobby" required="true" value="<%= images.meetup1 %>">
        </fieldset>
        <label for="inputHobby">Genre</label><br>
        <select id="genre"name="genre" class="form-control" placeholder="genre" required=""><br>
    


       

            <option value="<%= images.genre1 %>" selected ><%= images.genre1 %></option>
            <% for (i =0; i < genre.length; i++) {%>
                <% if ( images.genre1 != genre[i].genre) { %>
                <option value="<%= genre[i].genre %>"><%= genre[i].genre %></option>

                

                <% } %>
                <% } %>
       
          </select>     <br>
    

          </select>     <br>
        <fieldset class="form-group">
            <label for="inputHobby">Avaliability</label><br>
            <select id="available"name="available" class="form-control" required="true" selected="<%= images.available %>"><br>
                <option value="<%= images.available %>" selected ><%= images.available %></option>

                <% if ( images.available !="available") { %>
                <option value="available">available</option>
                <% } %>

                <% if ( images.available !="Mark As Sold") { %>
                <option value="Mark As Sold">Mark As Sold</option>
                <% } %>

                <% if ( images.available !="Pending") { %>
                <option value="Pending">Pending</option>
                <% } %>
              </select><br>

              <img src="http://localhost:3000/images/<%= images.imageName %>" class="figure-img img-fluid img-rounded" width="100px" >
              <label class="file" style="width: 100%">
                    <input type="file" id="imageName" name="imageName">
                    <span class="file-custom"></span>
                </label>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Save Changes</button>
        <button type="button" class="btn btn-secondary" onclick=discardChanges()>Cancel</button>

     
    </div>
</form>
</div>
<% include ../partials/cart %>

<% include ../partials/footer %>

<% include ../partials/foot %> 
    <script>
      function saveChanges() {
          var url = "<%=hostPath%>/edit/<%=images.id%>";
          var newValues = {
              imageName : document.getElementById("imageName").files[0],
              file: document.getElementById("imageName").files[0],
              title: $("#title").val(),
              price: $("#price").val(),
              condition: $("#condition").val(),
              description: $("#description").val(),
              genre:$("#genre").val(),
              meetup: $("#meetup").val(),
              available:$("#available").val()
          }
          $.ajax({
              url: url,
              type: "POST",
              data: JSON.stringify(newValues),
              dataType: "json",
              contentType: "application/json",
              success: function(result){
                  alert("Student record updated successfully");
                  location.href = "<%=hostPath%>/profile"
                  discardChanges();
              },
              error: function(result){
                  alert("Error updating student record");
                  discardChanges();
              }
          })
      }

      function discardChanges() {
          location.href = "<%=hostPath%>/profile"
      }
  </script>
    </body>
