<!DOCTYPE html>
<html lang="en">

  <head>

        <% include ../partials/head %>

        
    <style>

        body{
            background-color: burlywood;
        }
    </style>

  </head>
<body>
    <% include ../partials/header %>
        <h1 class="site-heading text-center text-white d-none d-lg-block">
      <br>
                <span class="site-heading-lower">Edit</span>
              </h1>
            


<body>
    <div class="container">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Book Details</h4>
    </div>
    
    <div class="modal-body">
        <fieldset class="form-group">
            <label for="inputStudentID">BookName</label><br>
            <input type="text" id="title" name="title" class="form-control" placeholder="Student Id" required="true" value="<%= images.title %>">
        </fieldset>
        <fieldset class="form-group">
            <label for="inputName">Price</label><br>
            <input type="text" id="price" name="price" class="form-control" placeholder="Student Name" required="true" value="<%= images.price1 %>">
        </fieldset>
        <fieldset class="form-group">
            <label for="inputGroup">Condition</label><br>
            <input type="text" id="condition" name="condition" class="form-control" placeholder="Group" required="true" value="<%= images.condition1 %>">
        </fieldset>
        <fieldset class="form-group">
            <label for="inputHobby">Description</label><br>
            <textarea id="description" name="description" class="form-control" placeholder="Hobby" required="true" value="<%= images.description1 %>"><%= images.description1 %></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="inputHobby">MeetUp</label><br>
            <input type="text" id="meetup" name="meetup" class="form-control" placeholder="Hobby" required="true" value="<%= images.meetup1 %>">
        </fieldset>
        <label for="inputHobby">Genre</label><br>
        <select id="genre"name="genre" class="form-control" placeholder="genre" required="" value="<%= images.genre1 %>"><br>
    


            <option value="<%= images.genre1 %>" selected ><%= images.genre1 %></option>
            <% if ( images.genre1 !="Horror") { %>
            <option value="Horror" >Horror</option>
            <% } %>

            <% if ( images.genre1 !="Action") { %>
            <option value="Action">Action</option>
            <% } %>

            <% if ( images.genre1 !="Science Fiction") { %>
            <option value="Science Fiction">Science Fiction</option>
            <% } %>

            <% if ( images.genre1 !="Non-Fiction") { %>
            <option value="Non-Fiction">Non-Fiction</option>
            <% } %>

            <% if ( images.genre1 !="Adventure") { %>
            <option value="Adventure">Adventure</option>
            <% } %>

            <% if ( images.genre1 !="Comedy") { %>
            <option value="Comedy">Comedy</option>
            <% } %>
          </select>     <br>
        <fieldset class="form-group">
            <label for="inputHobby">Avaliability</label><br>
            <select id="avaliable"name="avaliable" class="form-control" required="true" selected="<%= images.avaliable %>"><br>
                <option value="<%= images.avaliable %>" selected ><%= images.avaliable %></option>

                <% if ( images.avaliable !="Avaliable") { %>
                <option value="Avaliable">Avaliable</option>
                <% } %>

                <% if ( images.avaliable !="Mark As Sold") { %>
                <option value="Mark As Sold">Mark As Sold</option>
                <% } %>

                <% if ( images.avaliable !="Pending") { %>
                <option value="Pending">Pending</option>
                <% } %>
              </select><br>
              <label class="file" style="width: 100%">
                    <input type="file" id="image" name="image"value="<%= images.imageName %>">
                    <span class="file-custom"></span>
                </label>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick=saveChanges()>Save Changes</button>
        <button type="button" class="btn btn-secondary" onclick=discardChanges()>Cancel</button>

     
    </div>
</div>
    
    <script>
      function saveChanges() {
          var url = "<%=hostPath%>/edit/<%=images.id%>";
          var newValues = {
              title: $("#title").val(),
              price: $("#price").val(),
              condition: $("#condition").val(),
              description: $("#description").val(),
              genre:$("#genre").val(),
              meetup: $("#meetup").val(),
              avaliable:$("#avaliable").val()
          }
          $.ajax({
              url: url,
              type: "POST",
              data: JSON.stringify(newValues),
              dataType: "json",
              contentType: "application/json",
              success: function(result){
                  alert("Student record updated successfully");
                  location.href = "<%=hostPath%>/profile"
                  discardChanges();
              },
              error: function(result){
                  alert("Error updating student record");
                  discardChanges();
              }
          })
      }

      function discardChanges() {
          location.href = "<%=hostPath%>/profile"
      }
  </script>
    </body>
