<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    
    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../stylesheets/business-casual.min.css" rel="stylesheet">


    <script src="../../../public/javascripts/jquery.min.js"></script>
    <script src="../../../public/javascripts/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
      <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">A Free Bootstrap 4 Business Theme</span>
      <span class="site-heading-lower">Business Casual</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="about">About</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="products">Products</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="store">Store</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="login">Login</a>
            </li>
            <li class="nav-item px-lg-4">
                <a class="nav-link text-uppercase text-expanded" href="profile">Profile</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="text-muted">Images</h4>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#createImage">
                    Image Upload
                </button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="createImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/images" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Upload a image file</h4>
                        </div>

                        <div class="modal-body">
                            <fieldset class="form-group">
                                <label  for="itle">Title</label>
                                <input type="text" id="itle" name="title" class="form-control" placeholder="Image Title" required="">
                                <label  for="itle">Price</label>
                                <input type="text" id="price" name="price" class="form-control" placeholder="Price" required=""><br>
                                <label  for="itle">Condition</label>
                                <input type="text" id="condition" name="condition" class="form-control" placeholder="Condition" required=""><br>
                                <label  for="itle">Description</label>
                                <input type="text" id="description" name="description" class="form-control" placeholder="Description" required=""><br>
                                <label  for="itle">Genre</label>
                                <select id="genre"name="genre" class="form-control" placeholder="genre" required=""><br>
                                  <option value="Horror">Horror</option>
                                  <option value="Action">Action</option>
                                  <option value="Science Fiction">Science Fiction</option>
                                  <option value="Non-Fiction">Non-Fiction</option>
                                  <option value="Adventure">Adventure</option>
                                  <option value="Comedy">Comedy</option>
                                </select>     <br>
                                <label  for="itle">Meetup</label>
                                <input type="text" id="meetup" name="meetup" class="form-control" placeholder="Meetup Details" required=""><br>
                                <label  for="itle">Avaliability</label>
                                <select id="avaliable"name="avaliable" class="form-control" placeholder="avaliable" required=""><br>
                                  <option value="Avaliable">Avaliable</option>
                                  <option value="Mark As Sold">Mark As Sold</option>
                                </select>     <br>
                            </fieldset>
                            <label class="file" style="width: 100%">
                                <input type="file" id="image" name="image">
                                <span class="file-custom"></span>
                            </label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <% images.forEach(function(images){ %>
                <div class="col-lg-4">
                    <figure class="figure">
                        <img src="images/<%= images.imageName %>" class="figure-img img-fluid img-rounded" alt="<%= images.imageName %>">
                        <h5 ><%= images.title %></h5>
                        <h5 ><%= images.price1 %></h5>
                        <small>Upload by: <%= images.user_id %></small>
                    </figure>
                </div>
            <% }); %>
        </div>

        </div>
        </div>
        <% include ../partials/footer %>
        <% include ../partials/javascript %>
    </body>
    </html>
