<!DOCTYPE html>
<html lang="en">

  <head>
      <link rel="stylesheet" type="text/css" href="../../stylesheets/util.css">
      <link rel="stylesheet" type="text/css" href="../../stylesheets/main.css">
			<% include ../partials/head %>
			
	  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

      <style>
 
	  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: 570px;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1;
	}
	
	h4{
	color:white;
	font-weight: 900px;
	}
	.size2{

		width:125px;
		margin-left: 375px;

	
	}
		body{
					background-color: lightgoldenrodyellow;
				}
				
		h2 { width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; } 


		h2 span { background:lightgoldenrodyellow; padding:0 10px; }

      
      .card {
		background-color: lightgray;



      }

      .card-deck {
        margin-left: 20px;
        margin-top: 10px;
      }

      .card-body {
        width: 315px;

      }

      .card-img-top {
        width: 100%;
        height: 200px;
	  }

      </style>
  </head>

  <body>

 
    <!-- Navigation -->
    <% include ../partials/header %>
<!-- Slide1 -->
<Br><br><br><Br>


	<div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active" contenteditable="false"></li>
			<li data-target="#myCarousel" data-slide-to="1" class="" contenteditable="false"></li>
			<li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item" style="">
				<img src="http://localhost:3000/images/bookbackground.jpg" alt="" class="">
				<div class="carousel-caption">
				
					
						<h4 class=""></h4>
				</div>
			</div>
			<div class="item active">
				<img src="http://localhost:3000/images/background2.jpg" alt="" class="">
				<div class="carousel-caption">
						<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								Shop Now
							</a><br><br><br><br><br><br><br><br>
					<h4 class="">   What are you waiting for ! We have a wide arrays of books for your selection!</h4>
	
				</div>
			</div>
			<div class="item" style="">
				<img src="http://localhost:3000/images/background3.jpg" alt="" class="">
				
			</div>
		</div>    
	
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	
	
	</div>

	<br><br><br>
	<div class="sec-title p-b-60">
			<h2>
				<span>Newest Products</span>
			</h2>
		  </div>

	<div class="container">
			<div class="row">

				  <% for (i =0; i < images.length; i++) {%>
					<% if ( images[i].available == "available") { %>

		
					  <div class="col-lg-4 col-md-6 mb-4">
						<div class="card-deck">
						  <div class="card card-shadow text-center">
							<div class="card-body">
								<a href="/viewbook/<%= images[i].id%>"><img class="card-img-top" src="http://localhost:3000/images/<%= images[i].imageName %>" alt=""></a>
							  <h3 class="card-text"><%= images[i].title %></h4>
							  <h6 class="card-text">Price : $<%= images[i].price %></h6>
							  <div class="dropdown-divider"></div>
							  <p class="card-text"><small class="text-muted">Genre : <%= images[i].genre %></small></p>
							  <a href="/viewbook/<%= images[i].id%>"><button type="button" class="btn btn-primary">Info</button></a>
							  <a href="/viewprofile/<%= images[i].user_id%>"><button type="button" class="btn btn-primary"><%= images[i].seller %></button></a>
							
							</div>
						  </div>
						  </div>
						</div>
			  <% } %>
			  <% } %>
	
			
	
			  
			</div>
</div>




    <!-- May need some editing -->
      <% include ../partials/cart %> 


    <!-- Custom scripts -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <% include ../partials/foot %> 
<script>



    $('#myCarousel').carousel();
    var winWidth = $(window).innerWidth();
    $(window).resize(function () {

        if ($(window).innerWidth() < winWidth) {
            $('.carousel-inner>.item>img').css({
                'min-width': winWidth, 'width': winWidth
            });
        }
        else {
            winWidth = $(window).innerWidth();
            $('.carousel-inner>.item>img').css({
                'min-width': '', 'width': ''
            });
        }
    });


</script>


      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
      </footer>
  </body>

</html>
