<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Payment</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/business-casual.min.css" rel="stylesheet">
    <link href="/stylesheets/payment.css" rel="stylesheet">
    <% include ../partials/head %>

    <style>
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  transition: 0.5s;
}
.reveal-if-active label {
  display: block;
  margin: 0 0 3px 0;
}
.reveal-if-active input[type="text"] {
  width: 100%;
}
input[type="radio"]:checked ~ .reveal-if-active, input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px;
  padding: 10px 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: visible;
}

form {
  max-width: 500px;
  margin: 20px auto;
}
form > div {
  margin: 0 0 20px 0;
}
form > div label {
  font-weight: bold;
}
form > div > div {
  padding: 5px;
}
form > h4 {
  color: green;
  font-size: 24px;
  margin: 0 0 10px 0;
  border-bottom: 2px solid green;
}

body {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}
    </style>
  </head>

  <body>
    <% include ../partials/header %>

    <label for="" style="font-size: 150%; position: absolute; left: 34%;">Choose your payment method</label>

    <section class="page-section" id="card-size-0">
      <!-- <br /> -->
      <div>
        <input type="radio" name="choice-payment-type" id="choice-registered-card" style="left: 34%;" required>
        <label for="choice-registered-card" style="left: 34%;">Use registered card</label>

        <div class="reveal-if-active">
            <div id="card-success-0" class="hidden">
                <i class="fa fa-check"></i>
                <p>Card has been registered...</p>
            </div>
            <div id="form-errors-0" class="hidden">
                <i class="fa fa-exclamation-triangle"></i>
                <p id="card-error-0">Card error, please try again</p>
            </div>
            <form id="card-0" action="" method="">
              <div id="form-container-0">
                <div id="card-front-0">
                  <div id="shadow-0"></div>
                  <div id="image-container-0">
                    <span id="card-image-0"></span>
                  </div>
                  <!-- end card image container -->
                  <% if (userCardNo_L4 != 0) { %>
                    <p> Enter credentials for card ending in: <%= userCardNo_L4 %> </p>
                  <% } %>
                  <div id="cvc-container-0" class="require-if-active" data-require-pair="#choice-registered-card">
                      <label for="card-cvc-0"> CVC/CVV (Last 3 or 4 digits) </label>
                      <input id="card-cvc-0" placeholder="XXX-X" type="text" min-length="3" max-length="4" name="card-cvc-0">
                  </div>
                  <div id="exp-container-0" class="require-if-active" data-require-pair="#choice-registered-card">
                      <label for="card-exp-0">Expiration</label>
                      <input id="card-month-0" type="text" placeholder="MM" length="2" name="card-month-0">
                      <input id="card-year-0" type="text" placeholder="YY" length="2" name="card-year-0">
                  </div>
                </div>
                <!-- end card front -->
                <!-- <div id="card-back-0">
                  <div id="card-stripe-0"></div>
                </div> -->
                <!-- end card back -->
                <!-- input type="text" id="card-token-0" /> -->
                <button type="button" id="card-btn-0">Submit</button>
              </div>
            </form>
          </div>
      </div>
    </section>  

    <section class="page-section" id="card-size" style="margin-bottom: 50%;">
      <div>
        <input type="radio" name="choice-payment-type" id="choice-new-card" style="left: 34%;">
        <label for="choice-new-card" style="left: 34%;">Use another card</label>
        <div class="container reveal-if-active require-if-active" data-require-pair="#choice-new-card">
          <div id="card-success" class="hidden">
            <i class="fa fa-check"></i>
            <p>Card has been registered...</p>
          </div>
          <div id="form-errors" class="hidden">
            <i class="fa fa-exclamation-triangle"></i>
            <p id="card-error">Card error, please try again</p>
          </div>
          <form id="card" action="" method="">
            <div id="form-container">
              <div id="card-front">
                <div id="shadow"></div>
                <div id="image-container">
                <!-- INPUTS AND ETC. BOOKMARK -->
                  <!-- <span>Paying: <b>$</b><input id="amount" type="number" value="" name="amount" readonly></span> -->
                  <input style="display:none;" id="test" value="100" name="test">
                  <span id="card-image"></span>
                </div>
                <!-- end card image container -->
                <label for="card-number">Card Number</label>
                <input type="text" id="card-number" placeholder="xxxx xxxx xxxx xxxx" length="16" name="card-number">
                <br>
                <br>
                <div id="cardholder-container">
                  <label for="card-holder">Card Holder</label>
                  <input type="text" id="card-holder" name="card-holder" placeholder="e.g. John Doe" />
                </div>
                <!-- end card holder container -->
                <div id="exp-container">
                  <label for="card-exp">Expiration</label>
                  <input id="card-month" type="text" placeholder="MM" length="2" name="card-month">
                  <input id="card-year" type="text" placeholder="YY" length="2" name="card-year">
                </div>
                <div id="cvc-container">
                  <label for="card-cvc"> CVC/CVV</label>
                  <input id="card-cvc" placeholder="XXX-X" type="text" min-length="3" max-length="4" name="card-cvc">
                  <p>Last 3 or 4 digits</p>
                </div>
                <!-- end CVC container -->
                <!-- end exp container -->
              </div>
              <!-- end card front -->
              <div id="card-back">
                <div id="card-stripe"></div>
              </div>
              <!-- end card back -->
              <input type="text" id="card-token" />
              <button type="button" id="card-btn">Submit</button>
              <!-- <input type="submit" id="card-btn" placeholder="Submit"> -->
            </div>
          </form>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5" style="position: fixed;left: 0;bottom: 0;width: 100%;">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Your Website 2018</p>
      </div>
    </footer>

    <!-- end form container -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <!-- Custom JavaScripts -->
    <script>
      // No function because the variables need to be global
        /* Create the GLOBAL variables to store the data rendered from server side 
        to be exported to other script tag JS, payment.js */ 
        var jsSendType = `<%= jsSendType %>` ;
        var user_ID = `<%= user.id %>` ;
        var hostPath = `<%= hostPath %>` ;
        var urlPath = `<%= urlPath %>` ;
    </script>
    <script src="../../javascripts/payment.js"></script>
    <script>
    // EXTRA STUFF --> Used with HTML form to set the elements required depending on the radio display
    var FormStuff = {
  
      init: function() {
        this.applyConditionalRequired();
        this.bindUIActions();
      },
      
      bindUIActions: function() {
        $("input[type='radio'], input[type='checkbox']").on("change", this.applyConditionalRequired);
      },
      
      applyConditionalRequired: function() {
        
        $(".require-if-active").each(function() {
          var el = $(this);
          if ($(el.data("require-pair")).is(":checked")) {
            el.prop("required", true);
          } else {
            el.prop("required", false);
          }
        });
        
      }
      
    };

    FormStuff.init();
    </script>

  </body>

</html>
