<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../stylesheets/business-casual.min.css" rel="stylesheet">

    <script src="../../../public/javascripts/jquery.min.js"></script>
    <script src="../../../public/javascripts/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
<body>

        <h1 class="site-heading text-center text-white d-none d-lg-block">
      
                <span class="site-heading-lower">BookTrade</span>
              </h1>
            
              <!-- Navigation -->
              <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
                <div class="container">
                  <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                      <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="index">Home
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="about">About</a>
                      </li>
                      <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="products">Products</a>
                      </li>
                      <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="store">Store</a>
                      </li>
                      <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="login">Login</a>
                      </li>
                      <li class="nav-item px-lg-4">
                          <a class="nav-link text-uppercase text-expanded" href="profile">Profile</a>
                        </li>
                    </ul>
                  </div>
                </div>
              </nav>
              <br>

<style>
  .card-img-top1 {height: 250px;
        width: 50%;
        margin: auto}
</style>
    <div class="container">

        <div class="datails">

            <div class="card text-xs-center">
                <br>
                <img class="card-img-top1" src="<%= avatar %>" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">User Details</h4>
                    <p class="card-text">
                        <strong>Name</strong>: <%= user.name %><br>
                        <strong>Email</strong>: <%= user.email %>
                    </p>
                    <a href="/logout" class="btn btn-default">Logout</a>
                </div>
            </div>
        </div>
    </div>
<br><br>


     

<div class="container">

    <div class="row">

            <% if (typeof retrievebook != "undefined") { %>
              <% for (i =0; i < retrievebook.length; i++) {%>
                <% if (user.name == retrievebook[i].seller) { %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                  <div data-id="<%= retrievebook[i].id %>" class="rowRecord" >
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#"><%= retrievebook[i].bookname1 %></a>
                  </h4>
                  <h5>$<%= retrievebook[i].price1 %></h5>
                  <p class="card-text"><%= retrievebook[i].description1 %></p>
                  <p><%= retrievebook[i].seller%></p>
                </div>

                <a class = 'button button-default' href="/edit/<%= retrievebook[i].id%>">Click Me!</a>
                <input type="button" class="deleteBtn"  value="Delete">
      
           
              
            </div>
          </div>
          </div>
            
            <% } %>
            <% } %>
            <% } %>
            <script>

                $('.deleteBtn').click(function () {
                  var booknumber = $(this).closest("div").data('id');
                  $.ajax({
                    url: '<%-urlPath%>/' + booknumber,
                    type: 'DELETE',
                    success: function (result) {
                      console.log(result.message);
                      var itemToRemove = '.rowRecord[data-id=' + booknumber + ']';
                      $(itemToRemove).remove();
                      alert("Record Deleted Successfully.");
                    },
                    error: function (result) {
                      alert("Unable to delete record.");
                      console.log(result.message);
                    }
                  });
                });
              </script>

        



    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
  </footer>
                </ul> 

               

    


    </body>