<!DOCTYPE html>
<html lang="en">

  <head>
      <% include ../partials/head %>
  </head>
<body>

        <h1 class="site-heading text-center text-white d-none d-lg-block">
      
                <span class="site-heading-lower">BookTrade</span>
              </h1>
            
              <% include ../partials/header %>
  <br>



    <div class="container">

        <div class="datails">

            <div class="card text-xs-center">

                <div class="coloring">
                <div class="card-block">
                    <h4 class="card-title">Profile</h4>
                    <p class="card-text">
                        <strong>Name</strong>: <%= user.name %><br>
                        <strong>Email</strong>: <%= user.email %><br>
                        <strong>Joined</strong>: <%= user.createdAt%><br>
                    </p>
                  </div>
                 
                    <div class="container">
    			
                        <div class="row">
                          <div class="col-sm-3">
                            <div class="rating-block">
                              <h4>Average user rating</h4>
                              <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
                              <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                              </button>
                              <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                              </button>
                              <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                              </button>
                              <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                              </button>
                              <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                              </button>
                              <br><br><br>
                            </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="rating-block">
                            <h4>Rating breakdown</h4>
                            <div class="pull-left">
                              <div class="pull-left" style="width:35px; line-height:1;">
                                <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
                              </div>
                              <div class="pull-left" style="width:180px;">
                                <div class="progress" style="height:9px; margin:8px 0;">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                                  <span class="sr-only">80% Complete (danger)</span>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <div class="pull-left">
                              <div class="pull-left" style="width:35px; line-height:1;">
                                <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
                              </div>
                              <div class="pull-left" style="width:180px;">
                                <div class="progress" style="height:9px; margin:8px 0;">
                                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                                  <span class="sr-only">80% Complete (danger)</span>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <div class="pull-left">
                              <div class="pull-left" style="width:35px; line-height:1;">
                                <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
                              </div>
                              <div class="pull-left" style="width:180px;">
                                <div class="progress" style="height:9px; margin:8px 0;">
                                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                                  <span class="sr-only">80% Complete (danger)</span>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <div class="pull-left">
                              <div class="pull-left" style="width:35px; line-height:1;">
                                <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
                              </div>
                              <div class="pull-left" style="width:180px;">
                                <div class="progress" style="height:9px; margin:8px 0;">
                                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                                  <span class="sr-only">80% Complete (danger)</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="pull-left">
                              <div class="pull-left" style="width:35px; line-height:1;">
                                <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
                              </div>
                              <div class="pull-left" style="width:180px;">
                                <div class="progress" style="height:9px; margin:8px 0;">
                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                                  <span class="sr-only">80% Complete (danger)</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>			
                        </div>
                        </div>			

          
                              <button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#createImage">
                                 List an Item !
                              </button>
                      

                        <a href="/logout" class="btn btn-danger">Logout</a>
                        <br><br>
                      </div>
                </div>
            </div>
        </div>
    </div>
<br><br>

<style>




#regForm {
background-color: #ffffff;
margin: 100px auto;
padding: 40px;
width: 100%;
min-width: 300px;
}

/* Style the input fields */
input {
padding: 10px;
width: 100%;
font-size: 17px;
font-family: Raleway;
border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbbbbb;
border: none; 
border-radius: 50%;
display: inline-block;
opacity: 0.5;
}

/* Mark the active step: */
.step.active {
opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
background-color: #4CAF50;
}



  
  .card{
    background-color: lightgray;

  }
  .btn{
    display: inline-block;
  }
  .coloring{
            background-color: burlywood; 
          }
  
  .card-img-top{
       width:100%;
       height:250px;
     }
     .btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;

  
}
.card-title{
    margin-left: 2%;
  }
  .card-text{
    margin-left: 2%;
  }
  .card-img-top1 {height: 250px;
        width: 50%;
        margin: auto}

        a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
        }

#nextBtn,#prevBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

  
</style>


<div class="container">

    <div class="row">

              <% for (i =0; i < images.length; i++) {%>
                <% if (user.name == images[i].seller) { %>
           
            <div class="col-lg-4 col-md-6 mb-4">
   
              <div class="card h-100" data-id="<%= images[i].id %>"  >
                  
                <a href="#"><img class="card-img-top" src="images/<%= images[i].imageName %>" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                      <h4><strong><%= images[i].title %></strong></h5>
                  </h4>
                  <h5>$<%= images[i].price1 %></h5>
                  <br>
                
                  
            
                  <h5>Avaliability : <strong><%= images[i].avaliable %></strong></h5>
                      <br>
                  
                </div>

                
                <br>
                <a class = 'btn btn-primary' href="/edit/<%= images[i].id%>">Edit Book</a>
                <input type="button" class="deleteBtn"  value="Delete" onclick="return confirm('Are you sure you want to delete this item?')">
      

            </div>
          
          </div>

            <% } %>
                <% if (user.name == "ADMIN") { %>
              <div class="col-lg-4 col-md-6 mb-4">
   
                  <div class="card h-100" data-id="<%= images[i].id %>"  >
                      
                    <a href="#"><img class="card-img-top" src="images/<%= images[i].imageName %>" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title">
                          <h5><strong><%= images[i].title %></strong></h5>
                      </h4>
                      <h5>$<%= images[i].price1 %></h5>
                      <br>
                      <h5><%= images[i].description1 %></h5>
                      <br>
                      <h5>Avaliability : <%= images[i].avaliable %></h5>
                      <br>
                      <a class = 'btn btn-primary' href="/edit/<%= images[i].id%>">Edit Book</a>
                    </div>
    
                    
                    <br>
                    <input type="button" class="deleteBtn"  value="Delete" onclick="return confirm('Are you sure you want to delete this item?')">
          
    
                </div>
              
              </div>
            <% } %>
            <% } %>
              
            
          
              <div class="container">
                  
                  <!-- Modal -->
                  <div class="modal fade" id="createImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <form action="/store" method="post" enctype="multipart/form-data" id="regForm">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                      <h4 class="modal-title" id="myModalLabel">Upload A Book</h4>
                                  </div>
          
                                  <div class="modal-body">
                                      
            

                      
                                  <br>
                                  
                                  <!-- One "tab" for each step in the form: -->
                                  <div class="tab"><h3>Book Information</h3><br><br>
                                      
                                      <input type="text" id="itle" name="title" class="form-control" placeholder="Image Title..." required=""><br>
                                      
                                      <input type="text" id="price" name="price" class="form-control" placeholder="Price..." required=""><br>

                                      <input type="text" id="condition" name="condition" class="form-control" placeholder="Condition..." required=""><br>
                                  </div>
                                  
                              

                                 
                                  
                                  <div class="tab"><h3>Miscellaneous</h3><br><br>


                                 
                                      <select id="genre"name="genre" class="form-control" placeholder="genre" required=""><br>
                                        <option value="Horror">Horror</option>
                                        <option value="Action">Action</option>
                                        <option value="Science Fiction">Science Fiction</option>
                                        <option value="Non-Fiction">Non-Fiction</option>
                                        <option value="Adventure">Adventure</option>
                                        <option value="Comedy">Comedy</option>
                                      </select>     <br>
                                      <textarea  id="description" name="description" class="form-control" placeholder="Description..." required=""></textarea><br>
                                      <input type="text" id="meetup" name="meetup" class="form-control" placeholder="Meetup Details" required=""><br>
                                    
                                  </div>
                                  
                                  <div class="tab"><h3>Add Picture</h3><br><br>
                                      <label  for="itle">Avaliability</label><br>
                                      <select id="avaliable"name="avaliable" class="form-control" readonly placeholder="avaliable" required=""><br>
                                        <option value="Avaliable">Avaliable</option>
                  
                                      </select>     <br>
                                      <label  for="itle">Add a picture</label>
                                          <input type="file" id="image" name="image" multiple>
                                          <span class="file-custom"></span>
                                  
                                  </div>
                                  
                                  <div style="overflow:auto;">
                                    <div style="float:right;">
                                      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                                    </div>
                                  </div>
                                  
                                  <!-- Circles which indicates the steps of the form: -->
                                  <div style="text-align:center;margin-top:40px;">
                                    <span class="step"></span>
                                    <span class="step"></span>
                                    <span class="step"></span>
                                  </div>
                                  
                                  </form>
                          </div>
                      </div>
                  </div>
                  <hr>
                
             
                    </p>
                  </div>
                </div>
                </div>
                </div>
                </div>
                </div>

    <% include ../partials/cart %>         
    <!-- multi step form -->
    <script>

        var currentTab = 0; // Current tab is set to be the first tab (0)
        showTab(currentTab); // Display the current tab
        
        function showTab(n) {
          // This function will display the specified tab of the form ...
          var x = document.getElementsByClassName("tab");
          x[n].style.display = "block";
          // ... and fix the Previous/Next buttons:
          if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
          } else {
            document.getElementById("prevBtn").style.display = "inline";
          }
          if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";
          } else {
            document.getElementById("nextBtn").innerHTML = "Next";
          }
          // ... and run a function that displays the correct step indicator:
          fixStepIndicator(n)
        }
        
        function nextPrev(n) {
          // This function will figure out which tab to display
          var x = document.getElementsByClassName("tab");
          // Exit the function if any field in the current tab is invalid:
          if (n == 1 && !validateForm()) return false;
          // Hide the current tab:
          x[currentTab].style.display = "none";
          // Increase or decrease the current tab by 1:
          currentTab = currentTab + n;
          // if you have reached the end of the form... :
          if (currentTab >= x.length) {
            //...the form gets submitted:
            document.getElementById("regForm").submit();
            return false;
          }
          // Otherwise, display the correct tab:
          showTab(currentTab);
        }
        
        function validateForm() {
          // This function deals with validation of the form fields
          var x, y, i, valid = true;
          x = document.getElementsByClassName("tab");
          y = x[currentTab].getElementsByTagName("input");
          // A loop that checks every input field in the current tab:
          for (i = 0; i < y.length; i++) {
            // If a field is empty...
            if (y[i].value == "") {
              // add an "invalid" class to the field:
              y[i].className += " invalid";
              // and set the current valid status to false:
              valid = false;
            }
          }
          // If the valid status is true, mark the step as finished and valid:
          if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish";
          }
          return valid; // return the valid status
        }
        
        function fixStepIndicator(n) {
          // This function removes the "active" class of all steps...
          var i, x = document.getElementsByClassName("step");
          for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
          }
          //... and adds the "active" class to the current step:
          x[n].className += " active";
        }
        
              </script>

           <!-- delete -->
            <script>

                $('.deleteBtn').click(function () {
                  var booknumber = $(this).closest("div").data('id');
                  $.ajax({
                    url: '<%-urlPath%>/' + booknumber,
                    type: 'DELETE',
                    success: function (result) {
                      console.log(result.message);
                      var itemToRemove = '.card[data-id=' + booknumber + ']';
                      $(itemToRemove).remove();
                      alert("Record Deleted Successfully.");
                    },
                    error: function (result) {
                      alert("Unable to delete record.");
                      console.log(result.message);
                    }
                  });
                });
              </script>

        



    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
  </footer>
                </ul> 

               

    
    <!-- Custom scripts -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <% include ../partials/foot %> 

    </body>