<!DOCTYPE html>
<html lang="en">

  <head>

    <% include ../partials/head %>

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

    <% include ../partials/header %>


<!--=============================================\==================================================-->
	<link rel="stylesheet" type="text/css" href="../../stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css">
<!--===============================================================================================-->
    </head>
<body>

        <h1 class="site-heading text-center text-white d-none d-lg-block">
      
              </h1>
            
<style>
            body{   
                background-color:grey ; 
            }
            
            .mainimage{
                   width:125% !important;
                   height:350px;
                 }
            .rating {
          
                width:300px;
            }

            .rating span input {
                position:absolute;
                top:0px;
                left:0px;
                opacity:0;
            }
            .rating span label {
                display:inline-block;
                width:30px;
                height:30px;
                text-align:center;
                color:#FFF;
                background:#ccc;
                font-size:30px;
                margin-right:2px;
                line-height:30px;
                border-radius:50%;
                -webkit-border-radius:50%;
            }
            .rating span:hover ~ span label,
            .rating span:hover label,
            .rating span.checked label,
            .rating span.checked ~ span label {
                background:#F90;
                color:#FFF;
            }
            /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


          .card{
          background-color: lightgray;

        }

        .card-img-top{
          width:100%;
          height:200px;
        }
        
        h2 { width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; } 


        h2 span { background:#fff; padding:0 10px; }

</style>




            </div>
            <br><br>

            <div class="container bgwhite p-t-35 p-b-80">
                
                <div class="flex-w flex-sb">
                    <div class="w-size13 p-t-30 respon5">
                        <div class="wrap-slick3 flex-sb flex-w">
      
        
                            <div class="slick3">
                                <div class="item-slick3" data-thumb="images/thumb-item-01.jpg">
                                    <div class="wrap-pic-w">
                                        <img class="mainimage" src="http://localhost:3000/images/<%= images.imageName %>" alt="IMG-PRODUCT">
                                    </div>
                                </div>
        
                            
                            </div>
                        </div>
                    </div>
        
                    <div class="w-size14 p-t-30 respon5">
                        <h4 class="product-detail-name m-text16 p-b-13">
                            <%= images.title %>
                        </h4>
                    
                        <span class="m-text17">
                            $<%= images.price1 %>
                        </span><br><br>

                   <h3><span> <%= images.available %> </span></h3><br>
        
                  
        
                        <!--  -->
       <br><br><br>
                           
        
                        
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Chat</button>
                                <!-- Tool tip example (Question mark) -->
                                <!-- <span data-toggle="tooltip" data-placement="bottom" data-container="body" title="Click on the icons to navigate"><span class="fa fa-2x fa-question-circle-o text-primary sr-icons"></span></span> -->
                                <!-- NEED TO CHECK THE ADD COUNT, refresh after adding... -->
                                <% if (images.available == "available" && userMaxAddCount < 5 || isNaN(userMaxAddCount)) { %>
                                    <button id="addToCartButton" class="btn btn-lg btn-primary btn-block" type="button">Add to Cart</button>
                                <% } else { %>
                                <span id="addToCartButtonTooltip" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Book not available">
                                        <button id="" class="btn btn-lg btn-primary btn-block disabled" type="button" disabled>Add to Cart</button>
                                </span>
                                <% } %>
      
                                                <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#createWishlist" ><%=status %></button>

                                                

                            </div>
                        </div>
                     <br>
                
        
                        <!--  -->
                        <div class="tab">
                            <button class="tablinks" onclick="openCity(event, 'London') "id="defaultOpen">General Info</button>
                            <button class="tablinks" onclick="openCity(event, 'Paris')">Additional Info</button>
                            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Comments</button>
                            <button type="button" class="tablinks" data-toggle="modal" data-target="#reportitem"> Report Item</button>
                          </div>
                          <div id="London" class="tabcontent">
                            <br>
                            <h4 class="s-text8">
                                Title</strong> : <%= images.title %> </h4>
                                        <h4 class="s-text8">
                                            Price</strong> : $<%= images.price1 %> </h4>
                                            <h4 class="s-text8">
                                                    Description</strong> : <%= images.description1 %> </h4>
                                            <h4 class="s-text8">
                                                Condition</strong> : <%= images.condition1 %> </h4>
                                        
                                   
                                        <br>
                                      </div>
                                      
                                      <div id="Paris" class="tabcontent">
                                   <br>
                                 
                                   
                                   <h4 class="s-text8">
                                        Listed on</strong> : <%= images.created %> </h4>
                                   <h4 class="s-text8">
                                    Genre</strong> : <%= images.genre1 %> </h4>
                                    <h4 class="s-text8">
                                        Seller</strong>  : <%= images.seller %> </h4>
                                        <h4 class="s-text8">
                                            Meetup</strong>  : <%= images.meetup1 %> </h4><br>
                                        </div>
                                      
                                      <div id="Tokyo" class="tabcontent">
                           <br>
                                        
                                        <br>
                                        <div class="list-group">
                                        
                                                <% for (i =0; i < comments.length; i++) {%>
                                                  <% if ( comments[i].title == images.id) { %>
                                                    <div class="list-group-item" data-id="<%= comments[i].id%>">
                                      
                                                        <form action="/comments" method="delete">
                                                                <h4 class="list-group-item-heading">
                                                                        <%= comments[i].content %>
                                                                    <% if ( user.id ==  comments[i].user_id ) { %>
                                                                    <button class="btn btn-secondary pull-right deleteBtn" type="button" data-id="<%= comments[i].id%>">Delete</button>
                                                                    <% } %>
                                                                </h4>
                                                                <br>
                                                               
                                                                
                                                                <small class="text-muted">By:
                                                                    <%= comments[i].user_name %>
                                                                </small>
                              
                                                            </div>
                                                          </form>
                                                        
                                                    <% } %>
                                                    <% } %>
                                                    <button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#createPost">
                                                        Add Comment
                                                    </button>
                                                    <br><br><br>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
            

                                            <section class="relateproduct bgwhite p-t-45 p-b-138">
                                                <div class="container">
                                                    <div class="sec-title p-b-60">
                                                        <h2>
                                                            <span>You may also like</span>
                                                        </h2>
                                                    </div>
                                                    <br>
                                                    <div class="container">
                                                    <div class="row">
                              
                                                          <% for (i =0; i < images2.length; i++) {%>
                                                            <% if ( images2[i].available == "available") { %>
                                                                <% if ( images2[i].genre1 == images.genre1) { %>
                                                                    <% if ( images2[i].id != images.id) { %>
                                                              <div class="col-lg-4 col-md-6 mb-4">
                                                                <div class="card-deck">
                                                                  <div class="card card-shadow text-center">
                                                                    <div class="card-body">
                                                                        <a href="/viewbook/<%= images2[i].id%>"><img class="card-img-top" src="http://localhost:3000/images/<%= images2[i].imageName %>" alt=""></a>
                                                                      <h4 class="card-title"><%= images2[i].title %></h4>
                                                                      <h6 class="card-text">Price : $<%= images2[i].price1 %></h6>
                                                                      <div class="dropdown-divider"></div>
                                                                      <p class="card-text"><small class="text-muted">Genre : <%= images2[i].genre1 %></small></p>
                                                                      <a href="/viewbook/<%= images2[i].id%>"><button type="button" class="btn btn-outline-primary">Info</button></a>
                                                                      <a href="/viewprofile/<%= images2[i].user_id%>"><button type="button" class="btn btn-outline-primary"><%= images2[i].seller %></button></a>
                                                                    
                                                                    </div>
                                                                  </div>
                                                                  </div>
                                                                </div>
                                                                <% } %>
                                                      <% } %>
                                                      <% } %>
                                                      <% } %>
                                            
                                                    
                                            
                                                      
                                                    </div>
                                        </div>
                                    
            <!-- Tab links -->

   

    
  

            <br><br>

            <a href="http://localhost:3000/products" class="btn btn-success">Back To Products</a><br><br><br>
        
          
        
      <script>
          $('.deleteBtn').click(function() {
              var comments_id = $(this).closest("div").data('id');      
              $.ajax({
                url: '<%-urlPath%>'+'/'+comments_id,
                      type: 'DELETE',
                      success: function(result) {
                          console.log(result.message);
                          var itemToRemove = '.list-group-item[data-id='+comments_id+']';
                          $(itemToRemove).remove();
                      },
                      error: function(result){
                          alert("Unable to delete comment.");
                          console.log(result.message);
                      } 
                  });  
          });


//           $(document).ready(function(){
// //  Check Radio-box
//     $(".rating input:radio").attr("checked", false);
//     $('.rating input').click(function () {
//         $(".rating span").removeClass('checked');
//         $(this).parent().addClass('checked');
//     });

//     $('input:radio').change(
//     function(){
//         var userRating = this.value;
//         alert(userRating);
//     }); 
// }); 
         



         function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();
      </script>





            <!-- Modal Wishlist -->
            <div class="modal fade" id="createWishlist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="/viewbook1" method="post">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Add To WishList ?</h4>
                            </div>
        
                            <div class="modal-body">
        
                                <fieldset class="form-group">
                                    <label for="inputitle">Book Title</label>
                                </fieldset>
                                <fieldset class="form-group">
                  

                                    
                                    <input type="text" id="inputitle" name="title" class="form-control" placeholder="Comment Title" readonly="readonly" required="" value ="<%= images.title %>"><br>

                                    <label for="inputContent">Seller Name</label><br><br>
                                    <input type="text" id="inputitle" name="seller" class="form-control" placeholder="Comment Title" readonly="readonly" required="" value ="<%= images.seller %>"><br>
                                    
                                    <input hidden type="text" id="inputitle" name="bookid" class="form-control" placeholder="Comment Title" readonly="readonly" required="" value ="<%= images.id %>">

                                    <input hidden type="text" id="bookimage" name="bookimage" class="form-control" placeholder="Comment Title" readonly="readonly" required="" value ="<%= images.imageName %>">

                                    <input hidden type="number" id="price" name="price" class="form-control" placeholder="Comment Title" readonly="readonly" required="" value ="<%= images.price1 %>">
                                </fieldset>
        
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
                  
                  
            <!-- Modal Comments -->
            <div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="/viewbook" method="post">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Add Comment</h4>
                            </div>
        
                            <div class="modal-body">
        
                     
                                <fieldset class="form-group">
                  
                                    <input hidden type="text" id="inputitle" name="title" class="form-control" placeholder="Comment Title" readonly="readonly" required="" value ="<%= images.id %>"><br> 
                                    <label for="inputContent">Content</label>
                                    <textarea id="inputContent" name="content" rows="8" cols="40" class="form-control" placeholder="Comment Description" required=""></textarea>
                                  
                                
                                </fieldset>
        
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
              </div>

           
            <!-- Report Items -->
              <div class="modal fade" id="reportitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="/report" method="post">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Report Item</h4>
                            </div>
        
                            <div class="modal-body">
        
                     
                                <fieldset class="form-group">
                                    <input hidden type="text" id="inputitle" name="book_id" class="form-control" placeholder="Comment Title" readonly="readonly" required="" value ="<%= images.id %>"><br>
                                    <input hidden type="text" id="inputitle" name="seller" class="form-control" placeholder="Comment Title" readonly="readonly" required="" value ="<%= images.seller %>"><br>
                                    <input hidden type="text" id="inputitle" name="title" class="form-control" placeholder="Comment Title" readonly="readonly" required="" value ="<%= images.title %>"><br>
                                    <label for="inputHobby">Reason</label><br>
                                    <select id="reason"name="reason" class="form-control" required="true"><br>
                        
                               
                                        <option value="Fraud / Scam">Fraud / Scam </option>
                            
                        
                                     
                                        <option value="Mispriced Listing">Mispriced Listing</option>
                                        
                        
                               
                                        <option value="Prohibited Item">Prohibited Item</option>
                                   
                                      </select><br> 
                                    <label for="inputContent">Content</label>
                                    <textarea id="reportcontent" name="reportcontent" rows="8" cols="40" class="form-control" placeholder="Report Description" required=""></textarea>
                                  
                                
                                </fieldset>
        
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
                      </div>
                      

                
                    </div>
                  </div>
                 
                      </div>
                    </div>
              </div>
            </div>
            <!-- /.card -->
  
          </div>
          <!-- /.col-lg-9 -->
  
        </div>
  
      </div>
      <!-- /.container -->

      <% include ../partials/cart %>

      <% include ../partials/footer %>

       <% include ../partials/foot %> 
       <script> // Not sure if defer makes difference to CSS editing template literals
        // Ready functions, now used to display values
        $(document).ready(function(){
          console.log(String(`<%= images.available %>`));
          console.log(`<%= urlPath %>`);

          // Some design edits (Capitalizing not working)
          $("span::first-letter").css("text-transform", "capitalize");

        });
        
        // Submit cart data function
        $('#addToCartButton').click( function() {
           // Check availability in case
           if (String(`<%= images.avaliable %>`) == "In cart")  {
              $.alert({
                  title: '<span style="color: red; font-weight: bold;">Add to cart failed:</span> Book is not available, please try another book...',
                  content: ''
                  });
              return;
           }
  
          var cartData = {
              message: "Adding item to cart",
              bookID : `<%= images.id %>`,  // ` ` quotes to indicate template literals, allowing embedded expressions 
              userID : `<%= user.id %>`,
              bookPrice : `<%= images.price1 %>`,
              bookName : `<%= images.title %>`  
          };
  
          $.ajax({
              url: 'http://localhost:3000/transaction/cart/add/',
              type: 'POST',
              dataType: 'json',
              data: JSON.stringify(cartData),
              contentType: "application/json",
              encode: true,

              // Successfully sent, need handle error on server and send response...
              success: function(data) {
                // Log data to check
                console.log(data.message);
                console.log(data.add_count);
                console.log(data.available);

                $.alert({
                          title: 'Book added to cart',
                          content: toString(data),
                          buttons: {
                              OK: function () {
                                  location.replace("http://localhost:3000/products"); // MIGHT NEED TO USE DIFFERENT RELOAD PAGE FOR NEW ADD COUNT
                              }
                          }
                    });
                },
                error: function(jqXHR, textStatus, errorThrown){
                console.log(errorThrown);
                }
            });
        });

        //         // If using promise...
        //         if (!data.success) {
        //             // Error handling
        //         } else {
                    
         
        //         }
        //         }
        //     });
        // });
            // fail promise callback, for testing - not needed
            //..
            // Error handling
            // console.log(data);
            //      }
            // })
        //     // then promise callback
        //     .then(function(data) {
        //         // Log data to check
        //         console.log(data);
        //         console.log(data.add_count);
        //         console.log(data.message);
        //         if (!data.success) {
        //             // Error handling
        //         } else {
        //             // Successfully sent, need handle error on server and send response...
        //             $.alert({
        //                   title: 'Book added to cart',
        //                   content: toString(data),
        //                   buttons: {
        //                       OK: function () {
        //                           location.replace("http://localhost:3000/products");
        //                       }
        //                   }
        //             });
        //         }
        //     });
        //     // fail promise callback, for testing - not needed
        //     // Error handling
        //     console.log(data);
        </script>

    </body>
</html>