<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../stylesheets/business-casual.min.css" rel="stylesheet">


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    

  </head>
<body>

        <h1 class="site-heading text-center text-white d-none d-lg-block">
      
                <span class="site-heading-lower">BookTrade</span>
              </h1>
            
<style>
  body{
            background-color: burlywood ; 
          }
</style>



    <div class="container">

        <div class="row">
            
  
                <div class="col-lg-3">
                        <h1 class="my-4"><%= images.title %></h1>
                        <div class="list-group">
                          <a href="http://localhost:3000/products" class="list-group-item active">Back To Products</a>
                  
                        </div>
                      </div>
        

          <style>
  
              .card-img-top{
                   width:100%;
                   height:500px;
                 }
            
              
            </style>
  
          <div class="col-lg-9">
  
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="http://localhost:3000/images/<%= images.imageName %>" alt="">
              <div class="card-body">
                <h3 class="card-title"><%= images.title %></h3>
                <h4>$<%= images.price1 %></h4>
                <p class="card-text"><%= images.description1 %></p>
                <p class="card-text">Condition : <%= images.condition1 %></p>
                <p class="card-text">Genre : <%= images.genre1 %></p>
                <p class="card-text">Meet up : <%= images.meetup1 %></p>

                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                4.0 stars<br><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Chat</button>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Add to Cart</button>
              </div>
            </div>
            <!-- /.card -->
            <br><br>

    
  
              <div class="lead">
            
                  <div class="list-group">
                      <h2>Comment Section</h2>
                      <% for (i =0; i < comments.length; i++) {%>
                        <% if ( comments[i].title == images.title) { %>
                          <div class="list-group-item" data-id="<%= comments[i].id%>">
            
                              <form action="/comments" method="delete">
                                      <h4 class="list-group-item-heading">
                                          <%= comments[i].title %>

                                          <button ng-show= "<%= comments[i].user_id %> ==<%= user.name %>" class="btn btn-secondary pull-right deleteBtn" type="button" data-id="<%= comments[i].id%>">Delete</button>
                                      </h4>
                                      <p class="list-group-item-text">
                                          <%= comments[i].content %>
                                      </p>
                                      <small class="text-muted">By:
                                          <%= comments[i].user_id %>
                                      </small>
    
                                  </div>
                                </form>
                              
                          <% } %>
                          <% } %>
                          <button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#createPost">
                              Add Comment
                          </button>
                          <br><br><br>
                  </div>
              </div>

            

        
        
      <script>
          $('.deleteBtn').click(function() {
              var comments_id = $(this).closest("div").data('id');      
              $.ajax({
                url: '<%-urlPath%>'+'/'+comments_id,
                      type: 'DELETE',
                      success: function(result) {
                          console.log(result.message);
                          var itemToRemove = '.list-group-item[data-id='+comments_id+']';
                          $(itemToRemove).remove();
                      },
                      error: function(result){
                          alert("Unable to delete comment.");
                          console.log(result.message);
                      } 
                  });  
          });
         
      </script>
                  
                  
            <!-- Modal -->
            <div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="/viewbook" method="post">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Create Comment</h4>
                            </div>
        
                            <div class="modal-body">
        
                                <fieldset class="form-group">
                                    <label for="inputitle">Title</label>
                                </fieldset>
                                <fieldset class="form-group">
                  
                                    <input type="text" id="inputitle" name="title" class="form-control" placeholder="Comment Title" readonly="readonly" required="" value ="<%= images.title %>"><br> 
                                    <label for="inputContent">Content</label>
                                    <textarea id="inputContent" name="content" rows="8" cols="40" class="form-control" placeholder="Comment Description" required=""></textarea>
                                </fieldset>
        
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
                      </div>
                      

                
                    </div>
                  </div>
                 
                      </div>
                    </div>
              </div>
            </div>
            <!-- /.card -->
  
          </div>
          <!-- /.col-lg-9 -->
  
        </div>
  
      </div>
      <!-- /.container -->

      <footer class="footer text-faded text-center py-5">
          <div class="container">
            <p class="m-0 small">Copyright &copy; Your Website 2018</p>
          </div>
        </footer>
     


      
      

    </body>
