<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/business-casual.min.css" rel="stylesheet">
    <link href="css/navbar-fixed-top.css" rel="stylesheet">

    <script src="../../../public/javascripts/jquery.min.js"></script>
    <script src="../../../public/javascripts/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
<body>

        <h1 class="site-heading text-center text-white d-none d-lg-block">
      
                <span class="site-heading-lower">BookTrade</span>
              </h1>
            
              <% include ../partials/header %>
  <br>



    <div class="container">

        <div class="datails">

            <div class="card text-xs-center">

                <div class="coloring">
                <div class="card-block">
                    <h4 class="card-title"><%= users.name %>'s  Profile</h4>
                    <p class="card-text">
                        <strong>Name</strong>: <%= users.name %><br>
                        <strong>Email</strong>: <%= users.email %><br>
                    </p>
                  </div>
                 
                    <div class="container">
    			
                        <div class="row">
                          <div class="col-sm-3">
                            <div class="rating-block">
                              <h4>Average user rating</h4>
                              <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
                              <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                              </button>
                              <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                              </button>
                              <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                              </button>
                              <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                              </button>
                              <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                              </button>
                              <br><br><br>
                            </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="rating-block">
                            <h4>Rating breakdown</h4>
                            <div class="pull-left">
                              <div class="pull-left" style="width:35px; line-height:1;">
                                <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
                              </div>
                              <div class="pull-left" style="width:180px;">
                                <div class="progress" style="height:9px; margin:8px 0;">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                                  <span class="sr-only">80% Complete (danger)</span>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <div class="pull-left">
                              <div class="pull-left" style="width:35px; line-height:1;">
                                <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
                              </div>
                              <div class="pull-left" style="width:180px;">
                                <div class="progress" style="height:9px; margin:8px 0;">
                                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                                  <span class="sr-only">80% Complete (danger)</span>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <div class="pull-left">
                              <div class="pull-left" style="width:35px; line-height:1;">
                                <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
                              </div>
                              <div class="pull-left" style="width:180px;">
                                <div class="progress" style="height:9px; margin:8px 0;">
                                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                                  <span class="sr-only">80% Complete (danger)</span>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <div class="pull-left">
                              <div class="pull-left" style="width:35px; line-height:1;">
                                <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
                              </div>
                              <div class="pull-left" style="width:180px;">
                                <div class="progress" style="height:9px; margin:8px 0;">
                                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                                  <span class="sr-only">80% Complete (danger)</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="pull-left">
                              <div class="pull-left" style="width:35px; line-height:1;">
                                <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
                              </div>
                              <div class="pull-left" style="width:180px;">
                                <div class="progress" style="height:9px; margin:8px 0;">
                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                                  <span class="sr-only">80% Complete (danger)</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>			
                        </div>
                        </div><br>			
                        <a href="http://localhost:3000/products" class="btn btn-success">Back To Products</a><br>
          
                        

             
                        <br><br>
                      </div>
                </div>
            </div>
        </div>
    </div>
<br><br>

<style>

  
  .card{
    background-color: lightgray;

  }
  .btn{
    display: inline-block;
  }
  .coloring{
            background-color: burlywood; 
          }
  
  .card-img-top{
       width:100%;
       height:250px;
     }
     .btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;

  
}
.card-title{
    margin-left: 2%;
  }
  .card-text{
    margin-left: 2%;
  }
  .card-img-top1 {height: 250px;
        width: 50%;
        margin: auto}

        a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
        }



  
</style>


          <div class="container">

                <div class="row">
            
                          <% for (i =0; i < images.length; i++) {%>
                            <% if (users.id == images[i].user_id) { %>
                       
                        <div class="col-lg-4 col-md-6 mb-4">
               
                          <div class="card h-100" data-id="<%= images[i].id %>"  >
                              
                            <a href="/viewbook/<%= images[i].id%>"><img class="card-img-top" src="http://localhost:3000/images/<%=images[i].imageName%>" alt=""></a>
                            <div class="card-body">
                              <h4 class="card-title">
                                  <h5><strong><%= images[i].title %></strong></h5>
                              </h4>
                              <h5>Price : $<%= images[i].price1 %></h5>
                              <br>
                              <h5>Description : <%= images[i].description1 %></h5>
                              <br>
                              <h5>Seller : <%= images[i].seller %></h5>
                                  <br>
                              
                            </div>
            
                            
                            <br>
                           
                  
            
                        </div>
                      
                      </div>
            
                        <% } %>
           
                      
                        <% } %>
               
           

        



                </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
  </footer>
                </ul> 

               

    
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>