<!DOCTYPE html>
<html lang="en">

  <head>


    <% include ../partials/head %>
  </head>
<body>

        <h1 class="site-heading text-center text-white d-none d-lg-block">
      
                <span class="site-heading-lower">BookTrade</span>
              </h1>
            
              <% include ../partials/header %>
  <br>



    <div class="container">

        <div class="datails">

            <div class="card text-xs-center">

                <div class="coloring">
                <div class="card-block">
                    <h4 class="card-title"><%= users.name %>'s  Profile</h4>
                    <p class="card-text">
                        <strong>Name</strong>: <%= users.name %><br>
                        <strong>Email</strong>: <%= users.email %><br>
                    </p>
                  </div>
                 
                    <div class="container">
    			
                   
                          <div class="col-sm-3">
                            		
                        </div>
                        </div><br>			
                        <a href="http://localhost:3000/products" class="btn btn-success">Back To Products</a><br>
          
                        

             
                        <br><br>
                      </div>
                </div>
            </div>
        </div>
    </div>
<br><br>

<style>

  
  .card{
    background-color: lightgray;

  }
  .btn{
    display: inline-block;
  }
  .coloring{
            background-color: burlywood; 
          }
  
  .card-img-top{
       width:100%;
       height:250px;
     }
     .btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;

  
}
.card-title{
    margin-left: 2%;
  }
  .card-text{
    margin-left: 2%;
  }
  .card-img-top1 {height: 250px;
        width: 50%;
        margin: auto}

        a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
        }



  
</style>


          <div class="container">

                <div class="row">
            
                          <% for (i =0; i < images.length; i++) {%>
                            <% if (users.id == images[i].user_id) { %>
                       
                        <div class="col-lg-4 col-md-6 mb-4">
               
                          <div class="card h-100" data-id="<%= images[i].id %>"  >
                              
                            <a href="/viewbook/<%= images[i].id%>"><img class="card-img-top" src="http://localhost:3000/images/<%=images[i].imageName%>" alt=""></a>
                            <div class="card-body">
                              <h4 class="card-title">
                                  <h5><strong><%= images[i].title %></strong></h5>
                              </h4>
                              <br>

                              <p class="s-text8 p-t-10">
                                 Price : $<%= images[i].price1 %>
                              </p>
                              <br>
                              <p class="s-text8 p-t-10">
                                 Seller : <%= images[i].seller %>
                              </p>
                                  <br>
                              
                            </div>
            
                            
                            <br>
                           
                  
            
                        </div>
                      
                      </div>
            
                        <% } %>
           
                      
                        <% } %>
               
           

        



                </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
  </footer>
                </ul> 

               

    
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>